@model ipvcr.Web.Models.HomeRecordingsViewModel

@{
    ViewData["Title"] = "Recording manager";
}


<div class="text-center">
    @{
        var data = Model.Recordings;
        if (data != null)
        {
            <h2>Scheduled recordings</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Filename</th>
                        <th>Channel</th>
                        <th>Start</th>
                        <th>End</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in data)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Filename</td>
                            <td>@item.ChannelUri</td>
                            <td>@item.StartTime</td>
                            <td>@item.EndTime</td>
                            <td><button title="Delete" onclick="handleDelete('@item.Id')">Delete</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    }
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRecordingModal">
        Add New Recording
    </button>

    <div class="modal fade" id="addRecordingModal" tabindex="-1" aria-labelledby="addRecordingModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRecordingModalLabel">Add New Recording</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-action="Create">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" id="Name" name="Name" required />
                        </div>
                        <div class="form-group">
                            <label for="Filename">Filename</label>
                            <input type="hidden" class="form-control" id="Filename" name="Filename" required />
                            <label id="FilenameLabel" class="label-readonly"></label>
                        </div>
                        <div class="form-group">
                            <label for="ChannelUri">Channel</label>
                            <input type="text" class="form-control" id="ChannelUri" name="ChannelUri" required />
                        </div>
                        <div class="form-group">
                            <label for="StartTime">Start Time</label>
                            <input type="datetime-local" class="form-control" id="StartTime" name="StartTime"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="EndTime">End Time</label>
                            <input type="datetime-local" class="form-control" id="EndTime" name="EndTime" required />
                        </div>
                        <input type="hidden" name="TimezoneOffset" id="timezoneOffset" />
                        <button type="submit" class="btn btn-primary" disabled>Add Recording</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        const timezoneOffset = new Date().getTimezoneOffset();
        $(document).ready(function () {
            const modal = new bootstrap.Modal('#addRecordingModal');

            // Hide modal when page loads
            modal.hide();

            // Clear form when modal is closed
            $('#addRecordingModal').on('hidden.bs.modal', function () {
                $(this).find('form').trigger('reset');
                document.getElementById('TimezoneOffset').value = timezoneOffset;
            });
            document.getElementById('TimezoneOffset').value = timezoneOffset;
        });
        function handleDelete(id) {
            // make a request to delete the recording
            console.log('Deleting recording with id: ' + id);

            fetch(`/Home/Delete/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                }
            })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        console.error('Failed to delete recording');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function updateFormState() {
            const name = document.getElementById('Name').value;
            const startTime = document.getElementById('StartTime').value;
            const rootpath = '@Model.RecordingPath';
            if (startTime !== '') {
                // format the startTime as yyyymmddHHmm, e.g., 202508070605
                const startTimeFormatted = new Date(startTime).toISOString().replace(/[-:]/g, '').slice(0, 12);
                const filename = rootpath + '/' + `${name}_${startTimeFormatted}.mp4`;
                document.getElementById('Filename').value = filename;
                document.getElementById('FilenameLabel').innerText = filename;
            }
            // Update the TimezoneOffset field
            document.getElementById('timezoneOffset').value = new Date().getTimezoneOffset();
            // enable or disable the submit button based on whether aria-label form controls have a value
            const submitButton = document.querySelector('button[type="submit"]');
            const formControls = document.querySelectorAll('input.form-control');
            const allControlsHaveValue = Array.from(formControls).every(control => control.value);
            submitButton.disabled = !allControlsHaveValue;
        }

        document.getElementById('Name').addEventListener('input', updateFormState);
        document.getElementById('ChannelUri').addEventListener('input', updateFormState);
        document.getElementById('StartTime').addEventListener('input', updateFormState);
        document.getElementById('EndTime').addEventListener('input', updateFormState);
    </script>
}